extends base.jade

block content
	.content: .list_with_title
		entries = get_data(type='post',limit=300, sort='desc').group('tags')
		for tags, posts in entries
			div.listing_title= tags
			.listing: for post in posts: .listing-item
				.listing_post
					a(href=post.url, title=post.title)= post.title
